.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
